<%
def svgtourl(family)
  case family
  when 1
    "/assets/media/svg/family/001-dishwasher.svg"
  when 2
    "/assets/media/svg/family/002-washing-machine.svg"
  else
    "/assets/media/svg/family/003-fridge.svg"
  end
end
%>
<%
def appliancefamily(family)
  case family
  when 1
    "Dishwasher"
  when 2
    "Washing Machine"
  else
    "Fridge"
  end
end
%>

<div class="col-xl-12">
  <!--begin::Tables Widget 1-->
  <div class="card card-xl-stretch mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Your appliances</span>
        <span class="text-muted fw-bold fs-7">Type - Serial Number - Status</span>
      </h3>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
      <!--begin::Table container-->
      <div class="table-responsive">
        <!--begin::Table-->
        <table class="table align-middle gs-0 gy-5">
          <!--begin::Table head-->
          <thead>
            <tr>
              <th class="p-0 w-50px"></th>
              <th class="p-0 min-w-200px"></th>
              <th class="p-0 min-w-100px"></th>
              <th class="p-0 min-w-40px"></th>
            </tr>
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->
          <tbody>
            <% @appliances.each do |appliance| %>
            <% # raise %>
            <tr>
              <th>
                <div class="symbol symbol-60px me-2">
                  <span class="symbol-label">
                    <img src="<%= svgtourl(appliance.family) %>" class="h-60 align-self-center" alt="">
                  </span>
                </div>
              </th>
              <td>
                <%= link_to appliance_path(appliance), { :class => 'text-dark fw-bolder text-hover-primary mb-1 fs-6' } do %>
                <%= appliance.model %>
                <% end %>
                <span class="text-muted fw-bold d-block fs-7"><%= appliance.serial_number %></span>
              </td>
              <td class="text-end">
                
                <!-- <button  class="btn btn-secondary btn-sm m-3 col-4">Remove</button> -->
                <!-- On définit le statut dans Onlinestatus le statut de la machine -->
                <% status = Onlinestatus.find_by(serial_number: appliance.serial_number) %>
                <!-- On appelle une partial avec comme argument 'status' -->
                <%= render "online_status_button", online_status: status %>
                <% if (current_user.repairer == false) %>
                <%= link_to remove_path(appliance.id), { :class => 'btn btn-sm btn-icon btn-bg-light btn-active-color-danger', data: {confirm: 'Are you sure you want to remove this appliance?'}} do %>
                  <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                        <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                      </g>
                    </svg>
                  </span>
                <% end %>
                <% end %>
                <%= link_to appliance_path(appliance), { :class => 'btn btn-sm btn-icon btn-bg-light btn-active-color-primary', :"data-no-turbolink" => true } do %>
                  <!--begin::Svg Icon | path: icons/duotone/Navigation/Arrow-right.svg-->
                  <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                      </g>
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
          <!--end::Table body-->
        </table>
        <!--end::Table-->
      </div>
      <!--end::Table container-->
    </div>
  </div>
  <!--endW::Tables Widget 1-->
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '//cdn.jsdelivr.net/npm/apexcharts', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js', 'data-turbolinks-track': 'reload' %>
<% end %>

