<div class="col-xl-12">
  <div class="card card-xl-stretch mb-xl-8">
	<div class="card-header border-0 pt-5 w-50">
	<h3 class="card-title align-items-start flex-column">
		<span class="card-label fw-bolder fs-3 mb-1"><div class="symbol symbol-20px me-2">
			<img src="/assets/media/svg/family/001-dishwasher.svg" class="h-20 align-self-center" alt=""></div><%= @appliance.model %> <span class="text-muted fw-bold fs-7">(Serial Number: <%= @appliance.serial_number %>)</span></span>
	</h3>
	</div>
	<div class="card-header border-0 pt-5 w-50" >
	<h3 class="card-title align-items-end">
			<% status = Onlinestatus.find_by(serial_number: @appliance.serial_number)&.status %>
			<span class="badge <%= status == true ? 'badge-light-success' : 'badge-light-danger' %> fw-bold me-1"><%= status == true ? 'Online' : 'Offline' %></span>
	</h3>
	</div>
	<div class="card-header border-0 pt-5 w-100 align-items-start">
		<button type="button" class="btn btn-secondary btn-sm m-3 col-3"><%= link_to root_path do %><span style="color: #000000;">Back to your appliances</span><% end %></button>
		<button type="button" class="btn btn-success btn-sm m-3 col-4">Grant access to a repairer</button>
		<button type="button" class="btn btn-danger btn-sm m-3 col-4">Revoke access to a repairer</button>
	</div>
    <div class="card-body py-2 ">
      <div class="table-responsive d-flex">
        <table class="">
          <tbody>
            <!--begin::Timeline-->
			<div class="card card-xxl-stretch w-50 flex-grow-1 flex-shrink-0">
				<div class="card-header align-items-center border-0 mt-4">
					<h3 class="card-title align-items-start flex-column">
						<span class="fw-bolder mb-2 text-dark">Last logs from your appliance Number <%= @appliance.serial_number %></span>
						<span class="text-muted fw-bold fs-7">Cycles,  errors & miscellaneous datas from the past 24 hours.</span>
					</h3>
				</div>
				<div class="card-body pt-5">
				
					<div class="timeline-label">
						<% @events.each do |event| %>
							<div class="timeline-item">
								<div class="timeline-label fw-bolder text-gray-800 fs-6"><%= event.occurs_at.strftime('%I:%M') %></div>
								<div class="timeline-badge">
									<i class="fa fa-genderless text-<%= event.event_type %> fs-1"></i>
								</div>
								<div class="fw-mormal timeline-content text-muted ps-3"><%= event.value %></div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<!--end: Timeline-->
		<!--begin::Charts-->

			<div class="card card-xl-stretch mb-xl-8 w-50 flex-grow-1 flex-shrink-0">
				<div class="card-header border-0 pt-5 flex-column">
					<h3 class="card-title align-items-start flex-column">
						<span class="card-label fw-bolder fs-3 mb-1">Your last cycles</span>
						<span class="text-muted fw-bold fs-7">Get more informations about your appliance n°<%= @appliance.serial_number %>.</span>
					</h3>
					<%# <div class="card-toolbar" data-kt-buttons="true">
						<a class="btn btn-sm btn-color-muted btn-active btn-active-primary active px-4 me-1" id="kt_charts_widget_3_year_btn">Year</a>
						<a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4 me-1" id="kt_charts_widget_3_month_btn">Month</a>
						<a class="btn btn-sm btn-color-muted btn-active btn-active-primary px-4" id="kt_charts_widget_3_week_btn">Week</a>
					</div> %>
				</div>
				<div class="card-body">
					<div id="kt_charts_widget_3_chart" style="height: 350px">
						
					</div>
				</div>
			</div>
			<!--end::Charts-->
		  </tbody>
        </table>
      </div>
    </div>
  </div>
</div>