<%
def svgtourl(family)
  case family
  when 1
    "/assets/media/svg/family/001-dishwasher.svg"
  when 2
    "/assets/media/svg/family/002-washing-machine.svg"
  else
    "/assets/media/svg/family/003-fridge.svg"
  end
end
%>

<%
def eventtype(event_type)
  case event_type
  when "status"
    "text-info"
  when "discoverable"
    "text-success"
  when "error"
    "text-danger"
  when "cycle"
    "text-primary"
  else
    "text-warning"
  end
end
%>

<% flash.each do |type, msg| %>
  <% if (type == "notice") %>
  <div class="alert alert-success alert-dismissible fade show">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% elsif (type == "alert") %>
  <div class="alert alert-danger alert-dismissible fade show">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% else %>
  <% end %>
<% end %>

<div class="col-xl-12">
  <div class="card card-xl-stretch mb-xl-8">
    <div class="card-header align-items-center border-0 mt-4" style="justify-content: normal;">
      <img src="<%= svgtourl(@appliance.family) %>" class="mx-5 align-self-center" alt="" style="width: 60px;">
      <h3 class="card-title align-items-start flex-column">
        <span class="fw-bolder my-2 text-dark"><%= @appliance.model %>
          <span class="text-muted fw-bold fs-7 my-2">  -  Serial Number: <%= @appliance.serial_number %></span>
        </span>
        <span class="text-muted fw-bold fs-7 my-2">Your device status is currently :   <% status = Onlinestatus.find_by(serial_number: @appliance.serial_number)&.online %>
          <span class="badge <%= status == true ? 'badge-light-success' : 'badge-light-danger' %> fw-bold"><%= status == true ? 'Online' : 'Offline' %></span>
        </span>
      </h3>
    </div>
    <div class="card-header align-items-center border-0 mt-0" style="justify-content: normal;">
      <div class=""><button type="button" class="btn btn-secondary mx-2"><%= link_to root_path do %><span style="color: #000000;">Back to your appliances</span><% end %></button></div>
      <div class=""><a href="#" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#repairer_add_modal">Grant access to a repairer</a></div>
    </div>
  </div>
  <div class="card card-xl-stretch mb-xl-8">
    <div class="card-header align-items-center border-0 mt-4">
      <h3 class="card-title align-items-start flex-column">
        <span class="fw-bolder mb-2 text-dark">Last logs from your appliance Number <%= @appliance.serial_number %></span>
        <span class="text-muted fw-bold fs-7">Cycles,  errors & miscellaneous datas from the past 24 hours.</span>
      </h3>
    </div>
    <div class="card-body pt-5">
      <!--begin::Timeline-->
      <div class="timeline-label">
        <!--begin::Item-->
        <% @events.each do |event| %>
          <div class="timeline-item mb-2">
            <div class="timeline-label fw-bolder text-gray-800 fs-6"><%= event.created_at.strftime('%e/%-m/%Y - %k:%M') %></div>
            <div class="timeline-badge">
              <i class="fa fa-genderless <%= eventtype(event.event_type) %> fs-1"></i>
            </div>
            <div class="fw-mormal timeline-content text-muted ps-3"><%= event.value %></div>
          </div>
        <% end %>
        <!--end::Item-->
      </div>
      <!--end::Timeline-->
    </div>
  </div>
  <div class="card card-xl-stretch mb-xl-8">
		<!--begin::Charts-->
      <div class="card-header border-0 pt-5 flex-column">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Your monthly cycles</span>
          <span class="text-muted fw-bold fs-7">Get more informations about your appliance n°<%= @appliance.serial_number %>.</span>
        </h3>
      </div>
      <div id="chart" data-kt-color="info" style="height: 120px;""></div>
    <!--end::Charts-->
  </div>
</div>

<%= render "shared/upgrade_plan_modal" %>
<%= javascript_include_tag '//cdn.jsdelivr.net/npm/apexcharts', 'data-turbolinks-track': 'reload' %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js', 'data-turbolinks-track': 'reload' %>
<% end %>

<script>
  var options = {
    chart: {
      type: 'bar',
      height: '250px'
    },
    yaxis: {
    labels: {
      /**
      * Allows users to apply a custom formatter function to yaxis labels.
      *
      * @param { String } value - The generated value of the y-axis tick
      * @param { index } index of the tick / currently executing iteration in yaxis labels array
      */
      formatter: function(val, index) {
        return val.toFixed(0);
      }
    }
  },
    series: [{
      name: 'Cycles',
      data: <%= @value_array %>
    }],
    plotOptions: {
        bar: {
          dataLabels: {
            position: "top" // top, center, bottom
          }
        }
      },
    xaxis: {
      categories: <%= raw(@stringdate_array)  %>
    }
    
  }
  
  var chart = new ApexCharts(document.querySelector("#chart"), options);
  
  chart.render();
  
  </script>