<div class='container'>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5">
            <div class="mb-6" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                <img alt="Logo" src="<%= request.base_url + "/" %>assets/media/logos/logo-nifty500.png" class="logo-default h-25px h-lg-40px" />
            </div>
            <h3 class="text-center mb-9">Welcome to Nifty</h3>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" , placeholder: "johndoe@gmail.com", class: "form-control form-control-lg form-control-solid" } %>
                <%= f.input :repairer, 
                            collection: [['false', 'User'], ['true', 'Repairer']],
                            include_blank: 'Select a user type',
                            label_method: :second,
                            value_method: :first,
                            required: true,
                            input_html: { class: 'select2-selection select2-selection--single form-select form-select-solid'} %>
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" , placeholder: "******", class: "form-control form-control-lg form-control-solid" } %>
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" , placeholder: "******", class: "form-control form-control-lg form-control-solid" } %>
              </div>

              <div class="form-actions text-center" style='margin-top: 20px;'>
                <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
              </div>
              <div class="w-100 text-center mt-4 text">
              <%= render "devise/shared/links" %>
	          </div>
            <% end %>
          </div>
				</div>
			</div>
		</div>
	</section>
</div>