<!DOCTYPE html>
<html>
  <head>
    <title>Nifty - Your appliance's helper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
  </head>

  <body id="<%= content_for(:id) %>" class="<%= content_for(:class) %>" style="<%= content_for(:style) %>">
    <%= yield %>

  </body>
</html>
